* /*settings for the whole page specified with * */
{
    margin: 0;
    padding: 0;
}

body{
    background-color: #3F3F3F;
}

#nav-bar /* I think # is for a specific id, so special elements can have their own style*/
{
    position: static; 
    top: 0; 
    z-index: 10;
}

#nav-bar a:hover 
{
    color: whitesmoke !important; 
}

.navbar-brand img /* I think . is for a specific class, so all the elements of this class can have the same style */
{
    width: 9vw;
    alt:"logo";
}


.navbar-toggler
{
    border: none!important;
}

.nav-link
{
    /*changes color and font of navbar links (words)*/
    
    color: #bfbfbf!important;
    font-weight: 600; 
    margin: 10px;
    font-size: 20px;

}



#about-me{
    padding: 20px;
}

.profile img{
    width: 16vw;
    top: -25%;
    left: calc(100% - 10%);
    position: absolute;
    border: 1vw solid #fff;
    overflow: auto;
}

.profile {
    margin-top:3vw;
    margin-bottom:3vw;
    padding-top: 2vw;

    background-color: #efefef;
}
.first-title{
    font-family: "Ubuntu" !important; /* The !important flag seems to be able to override default settings for given tags*/
    font-size: 30px; 
    color: white;
    padding-left: 1.5vw;
}
#about-me blockquote{
    padding-right: 8vw;
    padding-left: 1.2vw;
    padding-bottom: 1.2vw;
    font-size: 18px;
    background-color: #efefef;
    
}
/*------------------------------------------------- work experience -----------------------------------------------------------*/
.underline {
    border-bottom: 2px solid #FE6E2F; /* important: borders need a style attribute, otherwise it will not show up*/
    width: 100%;
    font-size: 35px;
    
}

.fa-github{
    color: #fff;
    
    
}

.row{
    margin-top: 20px; 
    margin-bottom: 50px;
}

.work-exp-img{
    top: 40px;
}

#experience ul{
    margin-left: 40px;
    margin-top: 10px;
}

#experience h2{
    font-size: 30px;
    margin-top: 30px;
   
}
#experience li{
    font-size: 20px;
}

#experience h3{
    margin-top: 10px;
    font-size: 25px;
    color: #3F3F3F;
    font-style: italic; 
    display: inline-block !important;
}

.year-label{
    float: right;
    font-size: 24px;
    color: #3F3F3F;
}

.divider{
    color: #FE6E2F;
}

.more-info{
    float: right;
    margin-left: 30px;
    font-size: 35px;
    background-color: #FE6E2F !important;
    border-color: #FE6E2F !important;
    
}

#experience blockquote{
    border-radius: 25px;
    border: 2px solid #3F3F3F;
    padding: 15px;
    font-size: 18px;
    color: #fff;
    display: inline; 
    background-color: #47484B;
}

.tech-bar{
    margin: 30px;
}

#experience a{
    margin-left: 22px;
}

.button-text{
    border-radius: 25px;
    border: 2px solid #FE6E2F;
    padding: 15px;
    display: inline;

}
/*-------------------------------------------------------Projects--------------------------------------------------*/

#projects h1{
    margin-top: 100px;
}

.card-img-top{
    width: 100%;
    object-fit: cover;
    height: 400px;
}

/*-------------------------------------------------------Skills----------------------------------------------------*/

#skills {
    background-image:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(imgs/slider3.png);
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
    padding: 45px;
}

/*----------------------------------------------------References-------------------------------------------------*/
#reference {
    margin-top: 25px;
}


.reference-img img{
    width: 180px;
    display: block;
    margin: auto;
    
}

#reference p{
    padding: 90px 30px 30px 35px;
    margin-top: -70px;
    border: 2px solid #FE6E2F;
}

/*----------------------------------------------------Contact-me-------------------------------------------------*/
#contact{
    margin-top: 20px;
    background-color: #efefef;
    padding: 15px;
}

#contact h1{
    margin-bottom: 29px;
    border-bottom: 2px solid #FE6E2F;
    width: 20%;
}

.info {
    padding: 8px;
    margin:10px;
    background-color: white;
}

/*-----------------------------------------------------footer----------------------------------------------------*/

#footer {
    background: #3F3F3F;
    padding: 30px;
    color: white;
}

b {
    color: #FE6E2F;
}